
/* common styles or utilities */
*{
    
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
      
}
body{
    background-color: #F3F1FF;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 35px;
}
.top-players{
    margin-bottom: 30px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/*  top players style */
.section-title{
    color: #562EFF;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    gap: 10px;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* Top blog styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}

.blog-info{
    margin-left: 16px;
}

.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #562EFF;
    font-size: 16px;
}
.blog-author span{
    color: #9F9F9F;
}

/* Latest courses styles */

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: lightblue; */
    transition: box-shadow 0.3s ease; /* Optional: Add transition effect */
    gap: 20px;
}
.course{
    box-shadow: 0 4px 8px #0000001a, 0 0 0 1px #0000001a; /* Two layers of box shadow for a more refined look */
    border-radius: 8px;
    padding: 20px;
}
.course .course-banner img{
    width: 224px;
    height: 104;
}

.course-author{
    color: #ED6B4F;
}
.course-details{
    display: flex;
    align-items: center;
    gap: 15px;
}
.course-ratings img{
    width: 12px;
    height: 11px;
}

.course-duration{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #FFE4E8;
    padding: 0 8px;
    height: 35px;
    border-radius: 24px;
}
.course-duration img{
    width: 25px;
    height: 25px;
}

/* media Queries */

/* Mobile Devices */
@media only screen and (max-width: 688px){
    .container{
        width: 100%;
    }
    .section-title{
        text-align: center;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
     }
}

/* tablet devives */
@media screen and (min-width: 688px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
}